{% extends 'web/base.html' %}
{% block body %}
{% if user.is_authenticated %}

<div class="width">
	<section class="searchform_section">
		<div class="width displayFlex midleSearch_flex">
			<p>Adding/Updating Icons</p>
		</div>
	</section>

	<form class="formPart" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'web/form_template.html' %}
		<button>submit</button>
	</form>
</div>

<script type="text/javascript">
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!

	var yyyy = today.getFullYear();
	if(dd<10){
	    dd='0'+dd;
	} 
	if(mm<10){
	    mm='0'+mm;
	} 

	var hour = new Date();
	var h = hour.getHours();
	var m = hour.getMinutes();
	var s = hour.getSeconds();

	var today = yyyy+'-'+mm+'-'+dd+' '+h+':'+m+':'+s ;
	document.getElementById('id_published_date').value= today;
</script>

{% else %}
<div class="width">
	<section class="adminpage">
		<h3>Sorry! but you shouldn't be here, Please go back to the home page</h3>
		<a href="{% url 'index:index' %}" class="goToHomePage">HOME PAGE</a>
	</section>
</div>
{% endif %}

{% endblock %}